div#header, div#navmenu, div#catcher, div.bottomLinks, div#footer, body > a{
	display:none;
}

div#container {
    background-color: transparent;
    border-radius: inherit;
    box-shadow: inherit;
    margin: 0;
    width: 100%;
}

div#page{
	padding-top:231px;
	background-image:url(../images/JRebirth_Title.png);
	background-position:left top;
	background-repeat:no-repeat;
	
    background-color: #FFFFFF;
    margin: 0;
    overflow: visible;
    width: 100%;
}
